.upload-food-image-nutrients-info-container {
  justify-content: center;
  align-items: center;
  // display: block;
  // padding: auto;
  margin-top: 3%;
}

.nutrients-info-predictions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}