
.calories-burned-dashboard-graph-line-container {
  background-color: rgba(0, 230, 103, 0.15);
  box-shadow: 4px 4px rgba(0, 230, 103, 0.5);
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 10% 3% 10%;
  padding: 2% 5% 2% 5%;
}