.recipe-container {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 240, 228, 0.774);
  border-radius: 5%;
  padding: 3%;
}

.recipe-ingredients-container {
  // width: 400px;
}