.calories-burned-dashboard-summary-container {
  padding: 2% 5% 2% 5%;
  background-color: rgba(0, 230, 103, 0.15);
  box-shadow: 4px 4px rgba(0, 230, 103, 0.5);
  border-radius: 1.5rem;
  margin: 3% 40% 5% 40%;

  h3 {
    justify-content: center;
    align-items: center;
  }
}