.nutrients-info-container {
  background-color: rgba(225, 255, 216, 1);
  border-radius: 1.5rem;
  display: block;
  align-items: center;
  justify-content: center;
  width: 500px;
  text-align: center;
  padding: 2%;
  margin: 2%;
}