.fitness-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 2% 10% 2% 10%;
}

.fitness-schedule-container {
  display: block;
  justify-content: center;
  align-items: center;
}

.fitness-search-add-container {
  display: flex;
  justify-content: center;
  align-items: top;
}