.fitness-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0% 2% 2% 230px;
}

.fitness-schedule-container {
  display: block;
  justify-content: center;
  align-items: center;
}

.fitness-search-add-container {
  display: flex;
  justify-content: center;
  align-items: top;
}