.activity-date-form-container {
  padding: 2% 2% 2% 2%;
  background-color: rgba(0, 230, 103, 0.15);
  box-shadow: 4px 4px rgba(0, 230, 103, 0.5);
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  // display: flex;
  margin: 2% 40% 5% 20%;
}