.ingredients-container {
  background-color: rgba(225, 255, 216, 0.726);
  border-radius: 1.5rem;
  padding: 4% 4% 2% 4%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 4px rgba(0, 230, 103, 0.5);
  // margin: 10%;
  margin-top: 5%;
  width: 500px;
}

.ingredient-quantities-container {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 10%;
}