.fitness-search-exercise-form-container {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0% 10% 2% 10%;
}

.fitness-search-exercise-form {
  display: block;
  justify-content: center;
  align-items: center;
}

.fitness-search-exercise-form-dropdown {
  display: block;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}