.nutrition-tracker-dashboard-summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nutrition-tracker-dashboard-summary-info-container {
  padding: 3% 3% 3% 3%;
  background-color: rgba(0, 230, 103, 0.15);
  box-shadow: 4px 4px rgba(0, 230, 103, 0.5);
  border-radius: 1.5rem;
  margin: 2% 5% 2% 5%;
}