.fitness-schedule-day-info-container {
  margin-bottom: 2%;
}

.fitness-schedule-day-info {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 1% 1% 0% 1%;
}

.remove-exercise-selected-button,
.unselect-exercise-button {
  margin: 1%;
}