.search-result-container {
  padding: 0.5% 20% 0.5% 5%;
  background-color: rgba(0, 230, 103, 0.15);
  box-shadow: 4px 4px rgba(0, 230, 103, 0.5);
  border-radius: 1.5rem;
  margin: 2% 5% 2% 2.5%;
  width: 300px;
  // text-align: center;
  justify-content: space-between;

  &:hover {
    background-color: rgba(1, 146, 66, 0.15);
    border: none;
  }
}