.update-consumption-container {
  // display: flex;
  // justify-content: space-around;
  width: 100%;
  // margin: 5px auto;
}

.form-view-separator-container {
  hr.rounded {
    border-top: 5px solid #bbb;
    border-radius: 5px;
    max-width: 80%;
  }
}