.search-days-nutrition-tracker-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 5px auto;
}

.update-consumption-container {
  display: flex;
  justify-content: space-around;
  width: 1100px;
  margin: 5px auto;
}