.calories-burned-dashboard-graph-pie-container {
  background-color: rgba(0, 230, 103, 0.15);
  box-shadow: 4px 4px rgba(0, 230, 103, 0.5);
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 30% 2% 25%;
  padding: 2% 10% 2% 10%;
}

h4 {
  display: flex;
  justify-content: center;
}