.fitness-add-exercise-form-container {
  display: block;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left: 2%;
}

.fitness-add-exercise-form {
  display: block;
  justify-content: center;
  align-items: center;
}