h2 {
  margin: 10px 0;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.search-days-container {
  padding: 5% 0% 5% 0%;
  width: 1000px;
}

.search-days-nutrition-tracker-container {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  // margin: 5px auto;
  // height: 100%;
  padding-left: 0px;
}